@import url('https://fonts.googleapis.com/css2?family=Jura&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --primaryColor: #5efc8d;
  --secondaryColor: #ff8966;
  --darkColor: #232528;
  --lightColor: #ffffff;
}

body {
  font-family: 'Jura', sans-serif;
  background-color: var(--darkColor);
  color: var(--lightColor);
  line-height: 1.5;
  font-family: 'Jura', sans-serif;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

img {
  width: 100%;
}
